body {
    font-family: Arial, sans-serif;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 50%;
}

.form-container, .inventory-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #c90f0f;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #00b118d3;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
h1 {
            color: #000000;
            margin-top: 40px;
            text-align: center;
            font-weight: 600;
}

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
       
        }
        
table, th, td {
    border: 1px solid #2b0c0c00;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

